<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13920606_1032400543546251_764612233972706778_n.jpg?oh=7a03fbf08d6e22bed41cb9f801bc0851&oe=58893350">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
